.restaurant-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.restaurant-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.restaurant-form .form-group label {
  font-size: 14pt;
  color: #f0f0f0;
  font-weight: 300;
}

.restaurant-form .form-group .form-input {
  padding: 0.5rem 0.75rem;
  width: auto;
  text-align: center;
  font-size: 12pt;
  background-color: #2a2a2a;
  color: #f0f0f0;
  border: 1px solid #708090;
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0s.2s;
}

.form-actions {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.form-actions .btn-primary {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #206889;
  color: white;
}

.form-actions .btn-primary:hover {
  background-color: #1f5872;
}


.form-actions .btn-secondary {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #a93838;
}

.form-actions .btn-secondary:hover {
  background-color: #934c4c;
}