.restaurant-table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    background-color: #1e1e1e;
    color: #f0f0f0;
    border-radius: 0.5rem;
    overflow: auto;
}

.restaurant-table th,
.restaurant-table td {
    border: 2px solid #708090;
    padding: 14px;
    text-align: center;
}

.restaurant-table th {
    background-color: #35495d;
}

.dishes-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dishes-list li {
    margin-bottom: 4px;
}

.dish-unavailable {
    color: #b91c1c;
    font-style: italic;
}