.restaurant-card {
    min-width: 25rem;
    background-color: #35495d;
    color: #f0f0f0;
    border: 1px solid #708090;
    border-radius: 1.5rem;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0,0, 0.3);
    transition: box-shadow 0.2s ease;
}

.restaurant-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.restaurant-card .restaurant-image {
    width: 30%;
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.5rem;
    padding-top: 1rem;
    background-color: #35495d;
}

.restaurant-card h3 {
    font-size: 18pt;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: #ffffff;
}

.restaurant-card .rating {
    align-items: center;
    margin-top: 0.25rem;
    font-size: 14pt;
}

.restaurant-card .rating .star {
    color: #f59e0b;
}

.restaurant-card .rating .value {
    margin-left: 0.25rem;
    color: #d1d5db;
}

.restaurant-card .menu-btn {
    margin-top: 0.75rem;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #ffffff;
    color: #708090;
    border: none;
    border-radius: 0.5rem;
    font-size: 14pt;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.2s;
}

.restaurant-card .menu-btn:hover:not(:disabled) {
    background-color: #dbdbdb;
}

.restaurant-card .menu-btn:disabled {
    background-color: #4b5563;
    cursor: not-allowed;
}

.restaurant-card .menu-content {
    margin-top: 1rem;
    padding: 0.75rem;
    background-color: rgb(125, 139, 154);
    border-radius: 0.5rem;
    border: 1px solid #444;
}

.restaurant-card .menu-content p,
.restaurant-card .menu-content ul {
    color: #e0e0e0;
    margin: 0;
}

.restaurant-card .menu-content .error {
    color: #b91c1c;
}

.restaurant-card .menu-content ul {
    list-style: none;
    padding: 0;
}

.restaurant-card .menu-content li {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #404040;
}

.restaurant-card .menu-content .btn-add-to-cart {
    width: 0 auto;
    margin-left: 0.5rem;
    background-color: #ffffff;
    color: #708090;
    border: none;
    border-radius: 0.2rem;
    font-size: 14pt;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.2s;
}

.restaurant-card .menu-content .btn-add-to-cart:hover:not(:disabled) {
    background-color: #dbdbdb;
}

.restaurant-card .menu-content .btn-add-to-cart:disabled {
    background-color: #4b5563;
    cursor: not-allowed;
}

.admin-actions {
    margin: 12px 0;
    display: flex;
    gap: 8px;
}

.btn-edit,
.btn-delete {
    padding: 4px 8px;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
}

.btn-edit {
  background-color: #3b82f6;
  color: white;
}

.btn-delete {
  background-color: #ef4444;
  color: white;
}

.btn-edit:hover {
  background-color: #2563eb;
}

.btn-delete:hover {
  background-color: #dc2626;
}